
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- slider_area_start -->
<div class="slider_area">
    <div class="single_slider d-flex align-items-center slider_bg_1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-8 ">
                    <div class="slider_text text-center">
                        <div class="text">
                            <h3>
                                Discover Delicious
                                Recipes
                            </h3>
                        </div>
                        <a href="@Url.Action("Recipes", "Home")" class="boxed-btn3">View All Recipes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<!-- recepie_area_start  -->
<div class="recepie_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="recepie_text text-center">
                    <h3>Featured Recipes</h3>
                </div>
            </div>
        </div>
        <div class="row">
         
                
        </div>
    </div>
</div>
<!-- recepie_area_end  --> 